<html lang="en">
<head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Unknown Page - cypheriel.codes</title>
    {% endif %}

    {% if embed %}
        <meta property="og:site_name" content="{{ embed.site_name }}">
        <meta property="og:title" content="{{ embed.title }}"/>
        <meta property="og:description" content="{{ embed.description }}"/>
        {% if embed.url %}
            <meta property="og:url" content="{{ embed.url }}"/>
        {% endif %}
        <meta name="theme-color" content="#{{ embed.color }}" data-react-helmet="true">
    {% endif %}

    {% if link %}
        <link type="application/json+oembed" href="{{ link }}"/>
    {% endif %}
    <style>
        @font-face {
            font-family: 'Fira Code NF';
            src: url('../static/fonts/Fira Code Regular Nerd Font Complete Mono.otf');
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css" rel="stylesheet">


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

    <script src="../static/scripts/particles.js"></script>

    <script>
        particlesJS.load('particles-js', 'static/assets/particles.json');
    </script>

    {% if not no_default_style %}
        <link href="https://cypheriel.codes/static/styles/html.css" rel="stylesheet">
        <link href="https://cypheriel.codes/static/styles/particlesjs.css" rel="stylesheet">
        <link href="https://cypheriel.codes/static/styles/highlightjs.css" rel="stylesheet">
    {% endif %}

    {% block head %}
    {% endblock head %}
</head>
<body>
{% if not no_default_style %}
    <div id="particles-js"></div>
{% endif %}
{% block body %}
{% endblock body %}
</body>
</html>