{% extends "base.html" %}
{% block head %}
    <style>
        .sidenav {
            height: 100%;
            width: 10%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            padding-top: 5%;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: aliceblue;
            font-size: 2em;
            display: block;
        }

        .sidenav a:hover {
            color: royalblue;
            border: 2px whitesmoke;
        }

    </style>
{% endblock head %}
{% block body %}
    <div style="text-align: center;">
        <h1>Welcome to cypheriel.codes!</h1>
    </div>

    <div class="sidenav">
        <a href="/"><em>Home</em></a>
        <a href="/about"><em>About</em></a>
        <a href="/register"><em>Register</em></a>
        <a href="/login"><em>Login</em></a>
    </div>
{% endblock %}