body {
    background-color: #262b56;
    background-image: linear-gradient(to right, #262b56, darkslateblue);
}

p, h1, h2 {
    color: aliceblue;
}

a, a:visited, a:active {
    color: deepskyblue;
}

* {
    font-family: 'Fira Sans', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

pre > code {
    font-family: 'Fira Code Nerd Font Mono', monospace;
}